{% extends 'main.html' %}

{% block content %}
    <div class="section">
        <h1>{{event.name}}</h1>
    </div>
    <div class="event-wrapper section">
        {% if registered %} 
            <p class="text-success">You have already registered for this event. </p>
        {% else %}
            <a class="btn btn-primary" href="{% url 'registration-confirmation' event.id %}">Register</a>
        {% endif %}

        {% if submitted %} 
            <p class="text-success">You have already submitted your project.</p>
        {% else %}
            <a class="btn btn-primary" href="{% url 'project-submission' event.id %}">Submit Project</a>
        {% endif %}
    </div>

    <div class="section">
        <p>{{event.description}}</p>
    </div>

    <div class="user-lists section">
        {% for user in event.participants.all %}
            <a href="{% url 'profile' user.id %}">
                <div class="wrapper-user">
                    <img class="user-avatar-sm" src="{{user.avatar.url}}" alt="">
                    <h4>{{user.name}}</h4>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}